@font-face {
    font-family: 'BigCaslon-Rom';
    font-style: normal;
    font-weight: normal;
src: url(../../fonts/BigCaslon-Rom.woff) format('woff');
} 
.mobile-nav {
	font-family: 'BigCaslon-Rom';
  position: fixed;
  right: -380px;
  top: 0;
  width: 320px;
  height: 100vh;
  scroll-behavior: smooth;
 
  -webkit-transition: right .5s ease-in;
  transition: right .5s ease-in;
  background-color: #ffffff;
  padding: 20px;
  z-index: 9999;
  -webkit-box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
          box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
  /* Vertical Menu Style */
}

.mobile-nav.show {
  right: 0px;
}

.mobile-nav .close-nav {
border: 0;
    background: #d20023;
    color: #FFF;
    border-radius: 90px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    position: absolute;
    left: -10px;
    top: 10px;
}

.mobile-nav .sidebar-nav {
  margin-top: 30px;
}

.mobile-nav .sidebar-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
}

.mobile-nav .sidebar-nav .metismenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-nav .sidebar-nav .metismenu > li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-nav .sidebar-nav .metismenu a {
  position: relative;
  display: block;
  padding: 10px 15px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  text-decoration: none;
  color: #000;
  outline-width: 0;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-nav .sidebar-nav .metismenu ul a {
  padding: 10px 15px 10px 35px;
  position: relative;
}

.mobile-nav .sidebar-nav .metismenu ul a:hover {
  padding-left: 40px;
}

.mobile-nav .sidebar-nav .metismenu ul a:hover::before {
  background-color: #fff;
}

.mobile-nav .sidebar-nav .metismenu ul a::before {
  position: absolute;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  content: "";
  top: 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mobile-nav .sidebar-nav .metismenu ul ul {
  list-style-type: circle !important;
}

.mobile-nav .sidebar-nav .metismenu ul ul a {
  padding: 10px 15px 10px 45px;
}

.mobile-nav .sidebar-nav .metismenu a:hover,
.mobile-nav .sidebar-nav .metismenu a:focus,
.mobile-nav .sidebar-nav .metismenu a:active {
  text-decoration: none;
  color:#FFF;
  background: #d20023;
}

#hamburger {
  color: #111111;
  font-size: 40px;
  line-height: 1;
  text-align: right;
  display: none;
}

#hamburger i {
  cursor: pointer;
}

@media (max-width: 991px) {
  #hamburger {
    display: block;
  }
}

@media (max-width: 767px) {
  #hamburger {
    font-size: 36px;
  }
}
.overlay {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 40%;
    opacity: 0;
    visibility: hidden;
}
.overlay.active {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #000;
    z-index: 99;
    opacity: .5;
    visibility: visible;
}
