@media only screen and (max-width: 800px)  {
.header-container {
    position: absolute;
    width: 100%;
    z-index: 11;
	height:60px;
    background: #FFF;
}.logo {
    position: relative;
    z-index: 12;
    padding: 5px 0px 5px 0px;
}
.aboutus h3 {
    color: #333940;
    font-size: 24px;
    font-family: 'Objectivity Bold';
    font-weight: 800;
    text-transform: uppercase;
	padding-top: 15px;
    padding-bottom: 15px;
}
.projects-item {
    border: solid 1px #e8e8e8;
	margin-bottom:20px;
}
.caption-top {
	display:none;   
    position: absolute;
    bottom: 0px;
	width:300px;
	background: rgb(0 0 0 / 83%);
	color:#FFF;
}
.caption-top h2{ font-size:18px; padding-top:10px;}
.contact-address {
    width: 300px;
    background: #FFF;
    padding: 30px;
    margin: 0px auto;
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 30%);
    background-color: #fff;
}
.mapbg {
    background: url(../images/map.jpg) no-repeat top left;
    background-size: cover;
    padding: 10%;
}
.contact-address p {
    font-weight: 300;
    margin-bottom: 5px;
}
.homepage-contact-form select {
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: normal;
    width: 100%;
    height: 55px;
	margin-bottom:30px;
}
.aboutus h2 {
    color: #333940;
    font-size: 25px;
    font-family: 'Objectivity ExtraBold';
    font-weight: 800;
    text-transform: uppercase;
}
.projectslist h2 {
    color: #333940;
    font-size: 19px;
    font-family: 'Objectivity ExtraBold';
    font-weight: 800;
    text-transform: uppercase;
}
.hospitality h3 {
    color: #333940;
    font-size: 22px;
    font-family: 'Objectivity Bold';
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 0px;
    padding-top: 20px;
}
.hospitality h2 {
    color: #333940;
    font-size: 25px;
    font-family: 'Objectivity ExtraBold';
    font-weight: 800;
    text-transform: uppercase;
}
.Press h2 {
    color: #333940;
    font-size: 25px;
    font-family: 'Objectivity ExtraBold';
    font-weight: 800;
    text-transform: uppercase;
}
.footersoical{ margin-top:30px;}
.ptb56 {
    padding-top: 36px;
    padding-bottom: 36px;
}
.pb40 {
    padding-bottom: 20px;
}
.readmore {
    width: 200px;
    margin: 0px auto;
    border: solid 2px #d20023;
    text-align: center;
    color: #d20023;
    font-family: 'Manrope';
    font-weight: 800;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    margin-top: 27px;
    font-size: 17px;
}
.videobg {
    height: auto;
}
.video{ min-height:100%; min-width:100%;}
.video-container {
    height: auto;
    position: relative;
    overflow: hidden;
	background:#fdf6e5;
    
}
.enquirenow-bt{ background:#d20023; color:#FFF; border-radius:3px; margin-top:20px;  color:#333940; padding:8px 0px 8px 0px; margin-bottom:20px;}
.overdetails {
    padding-left: 50px;
    margin-bottom: 37px;
    color: #404040;
    font-family: 'Objectivity Bold';
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #CCC;
}
.Possession {
    background: url(../images/Possession.jpg) no-repeat top left;
}
.app {
    background: url(../images/apartments-type.jpg) no-repeat top left;
}
.price {
    background: url(../images/ruppes.jpg) no-repeat top left;
}
.status {
    background: url(../images/project-status.jpg) no-repeat top left;
}
.pro-location {
    background: url(../images/location-black1.webp) no-repeat top left;
}
.fearures li{ color:#707479; float:left; width:50%; background:#FFF; border:10px solid #f5f6f7; padding:33px 10px 32px 10px; text-align:center; height:208px;}
.pro-big-title h2 {
    color: transparent;
    -webkit-text-stroke: 0.5px #635959;
    text-stroke: 1px #cbcbcb;
    text-shadow: none;
    opacity: 0.9;
    font-size: 58px;
    font-family: 'Objectivity ExtraBold';
    text-transform: uppercase;
    letter-spacing: 7px;
    line-height: 8px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.project-overview h4 {
    font-family: 'Manrope';
    margin-bottom: 8px;
    font-weight: 900;
    font-size: 16px;
    color: #333940;
}
.project-menu-active {
	font-size: 14px !important;
    color: #000 !important;
    border-bottom: solid 3px #d20023;
    font-weight: 900 !important;
}
.project-menus a {
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    color: #797979;
    float: left;
    font-family: 'Manrope';
    font-weight: 500;
    padding-bottom: 10px;
}
.project-menus li {
    list-style: none;
    text-decoration: none;
    color: #797979;
    float: left;
    font-family: 'Manrope';
    font-weight: 500;
    padding: 20px 20px 0px 0px;
    margin-right: 5px;
	margin-left:10px;
}
.faq h2 {
    font-family: 'Objectivity Bold';
    color: #333940;
    font-weight: bold;
    font-size: 24px;
}
.contactus1 {
    background:#FFF;
    position: relative;
}
.tabnav {
    margin-right: 10px !important;
    margin-bottom: 30px;
}
.innerpage-title h3 {
    color: transparent;
    -webkit-text-stroke: 0.5px #cbcbcb;
    text-stroke: 1px #cbcbcb;
    text-shadow: none;
    font-size: 37px;
    font-family: 'Objectivity ExtraBold';
    text-transform: uppercase;
    letter-spacing: 7px;
    line-height: 12px;
    padding-top: 33px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

}
